.App {
  background-color: #030406;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(1px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style:initial;
  margin-left:50px;
  margin-right: 100px;
}

.App-header img {
  width: 110px;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.logo-text {
  display: flex;
  align-items: center;
}

.white-text{
  color: #AA98A9;
}
